.n-wrapper {
    height: 20vh;
    display: flex;
    background-image: url('../Image/background.png');
    justify-content: space-between;
  }
  
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 3rem;
    color: black;
    font-size: larger;
  }
  
  .n-name {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 6rem;
    
  }
  
  .n-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: 2rem;
  }
  
  .n-list ul {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 3rem;
    margin-right: 2rem;
  }
  
  .n-list ul:hover {
    cursor: pointer;
    color: white;
  }
  
  .no-list-style {
    list-style-type: none;
    color: black;
    font-size: larger;
  }
