:root {
  --yellow: #ffff00;
  --orange: #ffa500;
  --black: #000000;
  --gray: #808080;
  --blue: #007bff;
  --purple: #673ab7;
  --box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  --orange-card: #ffd966;
  --purple-card: #d673ab;
}
.APP {
  padding: 0.5 rem 3.5 rem;
  overflow: hidden;
  color: var(--black);
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
